@tailwind base;
@tailwind components;
@tailwind utilities;

/* TypingAnimation.module.css */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typingAnimation {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  font-size: 24px;
  animation: typing 3s steps(30, end) infinite, blink 0.75s step-end infinite;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.block-div {
  animation: appear 1s linear; /* Added duration for the animation */
}

.name-shadow {
  text-shadow: 2px 1px 1px rgb(39, 1, 255); /* Simple shadow */
}

@media (min-width: 325px) {
 nomi {
      background-color: chartreuse;
  }
}